/* end of reset */

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  background-color: var(--beige);
  color: black;
}

:root {
  --yellow: #ffc600;
  --red: #fe0413;
  --blue: #45a7f7;
  --beige: #fce8cd;
}

/* end of doc level settings */

header {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
}

.header-banner-anchor {
  width: 100%;
  height: 30%;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 3;
  border: 1px solid pink;
}

.about-section-anchor {
  background-color: var(--yellow);
}

.portfolio-section-anchor {
  background-color: var(--red);
}

.contact-section-anchor {
  background-color: var(--blue);
}

.filler-section-anchor {
  background-color: var(--beige);
}

h3 {
  font-size: 3rem;
  margin: 0% 2%;
  position: absolute;
  top: 20%;
}

/* end of header */

.homepage-body-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
}

img.web-owner-gif {
  height: 60%;
  margin: 0 auto;
}

.homepage-body-section {
  border: 1px solid black;
  height: 50%;
  width: 50%;
}

/* mediaqueries */

/* hover effects */

.header-banner-anchor:hover {
  padding-bottom: 1%;
  transition: 0.4s;
}
